<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
RssLogGenerator htmlIncludeOrString
</title>
</head>
<body>


<@dynamichtml std_admin_pages@>
	<tr>
		<td align="center" width="75" height="38">
			<a href="<$HttpWebRoot$>groups/secure/logs/IdcLog.rss">
  			<img src="<$HttpImagesRoot$><$admin_serverlogs_image$>" border="0"
  				width="<$adminImageWidth$>" height="<$adminImageHeight$>"></a>
    	</td>
		<td width="10">&nbsp;</td>
		<td width="245"><span class=largeTableEntry>
			<a href="<$HttpWebRoot$>groups/secure/logs/IdcLog.rss">
			<$lc("wwRssServerLogs")$></a></span></td>
	</tr>
<$include super.std_admin_pages$>
<@end@>



<@dynamichtml custom_finish_layout_init@>
	<$include super.custom_finish_layout_init$>
	navBuilder.addChildNodeTo("LOG_FILES", "item", "id==RSS_SERVER_LOGS",
		"label==<$lc("wwRssServerLogs")$>", "url==<$HttpWebRoot$>groups/secure/logs/IdcLog.rss");
<@end@>



</body></html>