<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>
RSSFeeds htmlIncludeOrString
</title>
</head>
<body>

<!-------------------------------------------------------------------
                         Site Studio Includes
-------------------------------------------------------------------->


<@dynamichtml ss_layout_head_info@>
<$exec inc("ss_determine_layout_head_flags")$>
<$if not blankLayoutHead$>
	<$include super.ss_layout_head_info$>
<$endif$>
<@end@>

<@dynamichtml ss_determine_layout_head_flags@>
<$if strLower(#active.siteRelativeUrl) like "*/rss/*"$>
	<$blankLayoutHead=1$>
<$elseif isTrue(ssGetNodeProperty(nodeId, "IsRssFeed"))$>
	<$blankLayoutHead=1$>
<$endif$>
<@end@>



<$trace("#all", "#console")$>


</body>
</html>