<?cfg jcharset="Cp1252"?>
#APAC-PROD-CONTRIB
isSavedToFileSystem=false

#ontDB=jdbc:oracle:thin:rdfusr/rdfusr@//192.200.20.229:1521/SGONDEV_ON.hays.com.au
#ontDB=jdbc:oracle:thin:@//192.200.20.219:1521:SGONPRD1
ontDB=jdbc:oracle:thin:@//sgm-prd-scan.hays.com.au:1521/SGONPRD.hays.com.au
#ontDB=jdbc:oracle:thin:@sgm-prd-scan.hays.com.au:1521:SGONPRD2
#ontDB=jdbc:oracle:thin:@(DESCRIPTION=(ENABLE=BROKEN)(ADDRESS=(PROTOCOL=TCP)(HOST=sgm-prd-odb-01-vip.hays.com.au)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=sgm-prd-odb-02-vip.hays.com.au)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=sgm-prd-odb-03-vip.hays.com.au)(PORT=1521))(LOAD_BALANCE=yes)(CONNECT_DATA=(SERVER=SHARED)(SERVICE_NAME=SGONPRD.hays.com.au)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC))))
ontDBUser=rdfusr
ontDBPsw=rdf123
ontDBTableSpace=rdf_users
#Ontology Admin Role
OntologyAdminRole=OntologyAdmin
AdminRole=admin
#list of complex metadata to be stored in separate tables
complexMetadataFields=xCategory


# Identify ontology term ID to be used to relate terms
#IsRelatedTo=@hays:RT
#MaybeInterestedIn=@hays:alsoInterested
Ucm_Region=APAC

#ontFilePathAbsolute=/opt/UCM/oracle/product/UCM/IDC_DEV/weblayout/FacetedBrowsing/protege/

# SPARQL Query to retrieve entities that are in the given Relationship
# to the given Entity, belong to the given Class,
# have labels in the given Language and the given Country is among the CountriesProperty values
GetIndividualsFullQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE {?subject a ?CLASS. ?subject ?RELATION ?PARENT. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG  && regex(str(?label), ?SEARCHTERM, "i"))}

# Query that extracts all individual entities that belong to the give Class,
#  have Labels in the given language and the given Country is among the CountriesProperty values
GetIndividualsQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE { ?subject a ?CLASS. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG  && regex(str(?label), ?SEARCHTERM, "i"))}



GetRootElementsQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE { ?subject a ?CLASS. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. OPTIONAL {?subject ?RELATION ?parent} OPTIONAL{ ?parent a ?ptype}. FILTER( !bound( ?parent )  || ?ptype != ?CLASS ). FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG)}

SpecialismSortById=jp-JP,cn-CHN
SOLAR_USERS=weblogic,hayssolrtest1,hayssolrtest2,hayssolrtest3,sharpl,stephensm,testuser,louk,yayoi,Kerryn,liaoy
SolarUserRole=SolarUser
SOLAR_DOCTYPES=PromotionalContent,Consultant,ColombiaJobs,CRReport,Initiative,Highlights,Video,ResultCenter,Presentation,AnnualReport,FinancialCalendar,News,General