<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
HaysGeneralComponent service
</title>
</head>
<body>

<@table HaysGeneralComponentR6_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>GET_ALL_TITLES</td>
	<td>DocService
		33
		null
		null
		null<br>
		null</td>
	<td>5:QGetJobTitles:TITLE_RESULT_LIST:2:!csRevisionNoLongerExists</td>
</tr>
<tr>
	<td>GET_GOOGLE_SEARCH_RESULTS</td>
	<td>DocService
		33
		null
		null
		null<br>
		null</td>
	<td>3:fetchGoogleResults:::null</td>
</tr>
<tr>
	<td>GET_ALL_LOCATIONS_BY_LEVEL</td>
	<td>DocService
		33
		null
		null
		null<br>
		null</td>
	<td>5:QGetLocationsByLevel:LOCATIONS_RESULT_LIST:2:!csRevisionNoLongerExists</td>
</tr>
<tr>
	<td>GET_ALL_LOCATIONS_BY_PARENT</td>
	<td>DocService
		33
		null
		null
		null<br>
		null</td>
	<td>5:QGetLocationsByParent:LOCATIONS_RESULT_LIST:2:!csRevisionNoLongerExists</td>
</tr>
</table>
<@end@>
</body></html>