<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
HaysGeneralComponent staticResTable
</title>
</head>
<body>

<@table HaysGeneralComponent_Handlers@>
<table border=1><caption><strong>
<tr>
<td>serviceName</td><td>handler</td><td>searchOrder</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.SponsoredEmployersQueryHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.WidgetAPI</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.SearchLocations</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysEmailHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.HaysRssServiceHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysCandidateJobViewStatsHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.HaysNavigationHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.HaysGeneralServiceHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.OfficeQueryHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.FeaturedEmployersList</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.emailServiceClient.CallReqCandInfoEmailService</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.SurveyContentHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.CheckUpdateClickCount</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.com.career.dextra.emailService.GCDextraEmailService</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.LinkedInAuthenticationHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysSaveAlerts</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.linkedIn_consent.org.tempuri.LinkedInAccessConsent</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.globalconsent.GlobalAccessConsent</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysOfficesUkCerowHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysInternationalJobCandDetails</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysSocialMediaBlogs</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysKillerQuestionsHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.CollectionUserHandlerHays</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysKillerQuestionsHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysEmailHandlerAPAC</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysWebsiteList</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.filters.HaysRegularMarketingReport</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.TotalJobCount</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.custom.HaysSalaryGuideHandler</td><td>100</td>
</tr>
</table>
<@end@>
</body></html>