<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>
NewRevision service
</title>
</head>
<body>

<@table NewItem_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>CHECKIN_NEW_ITEM</td>
	<td>DocService
		3
		REDIRECT_TEMPLATE
		null
		documents<br>
		!csUnableToCheckIn(dDocName)</td>
	<td>5:QdocInfo:DOC_INFO:mustExist:null
		3:checkSecurity:DOC_INFO:0:!csUnableToGetRevInfo2(dDocName)
		3:doCheckinOfNewItem:DOC_INFO::null
		3:prepareRedirect:IdcService=CHECKIN_CONFIRM_FORM&dID=<$dID$>&dDocTitle=<$url(dDocTitle)$>&dDocName=<$url(dDocName)$>&dDocAuthor=<$url(dDocAuthor)$>:0:null</td>
</tr>
<tr>
	<td>CHECKIN_NEW_ITEM_BY_NAME</td>
	<td>DocService
		35
		REDIRECT_TEMPLATE
		null
		documents<br>
		!csUnableToCheckIn(dDocName)</td>
	<td>3:mapResultSet:QlatestIDByName,dID,dID:2:!csNewCheckinFailedItemNoLongerInSystem(dDocName)
		5:QdocInfo:DOC_INFO:mustExist:null
		3:checkSecurity:DOC_INFO:0:!csUnableToGetRevInfo2(dDocName)
		3:doNewItemCheckin:DOC_INFO,CHECKIN_NEW_SUB:12:null
		3:prepareRedirect:IdcService=CHECKIN_CONFIRM_FORM&dID=<$dID$>&dDocTitle=<$url(dDocTitle)$>&dDocName=<$url(dDocName)$>&dDocAuthor=<$url(dDocAuthor)$>:0:null</td>
</tr>
</table>
<@end@>
</body>
</html>