<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
HaysSearchComponent staticResTable
</title>
</head>
<body>

<@table HaysSearchComponent_Handlers@>
<table border=1><caption><strong>

<tr>
<td>serviceName</td><td>handler</td><td>searchOrder</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.search.HaysSearchHandler</td><td>50</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.search.HaysSearchLocationsHandler</td><td>50</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.search.SavedSearchHandler</td><td>100</td>
</tr>
<tr>
<td>Service</td><td>hays.co.uk.search.HaysSearchKeywordHandler</td><td>100</td>
</tr>
</table>

<@end@>
</body></html>