<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
GoogleIntegration service
</title>
</head>
<body>

<@table GoogleIntegration_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>HAYS_GET_GEOCODES</td>
	<td>hays.geocoder.HaysGeocoder
		35
		null
		null
		null<br>
		null</td>
	<td>3:getGeocodesFromAddress:LocationResults,OntologyDatabase,UpdateLocationSynonymsQuery::null</td>
</tr>

<tr>
	<td>HAYS_GETLOCATIONS</td>
	<td>Service
		35
		null
		null
		null<br>
		null</td>
	<td>5:qgethayslocations:hayslocationresults::null</td>
</tr>
</table>
<@end@>
</body></html>