<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
CRUK_WidgetsForm service
</title>
</head>
<body>

<@table HAYS_WidgetManager_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>CR_CHOOSE_WEBSITE_SECTION</td>
	<td>Service
		33
		CR_CHOOSE_WEBSECTION
		null
		null<br>
		null</td>
	<td></td>
</tr>
<tr>
	<td>CR_GET_SITE_DEFINITION</td>
	<td>Service
		50
		CR_STRUCTURE_PROJECT_DEF
		null
		null<br>
		null</td>
	<td>3:getSiteAsRawXml:1::null</td>
</tr>
<tr>
	<td>CR_GET_SITE_HTTP</td>
	<td>Service
		33
		null
		null
		null<br>
		null</td>
	<td>3:addHttpSiteAddressToBinder:::null
		3:getServerRelativeSiteRoot:::null</td>
</tr>

</table>
<@end@>

</body></html>