<?cfg jcharset="Cp1252"?>
#APAC-OAT-CONSUMP
isSavedToFileSystem=false

ontDB=jdbc:oracle:thin:@192.200.20.229:1521:SGONOAT1
ontDBUser=rdfusr
ontDBPsw=rdf123
ontDBTableSpace=RDF_USERS
#Ontology Admin Role
OntologyAdminRole=OntologyAdmin
AdminRole=admin

#list of complex metadata to be stored in separate tables
complexMetadataFields=xCategory


# Identify ontology term ID to be used to relate terms
#IsRelatedTo=@hays:RT
#MaybeInterestedIn=@hays:alsoInterested

#ontFilePathAbsolute=/opt/UCM/oracle/product/UCM/IDC_DEV/weblayout/FacetedBrowsing/protege/

# SPARQL Query to retrieve entities that are in the given Relationship
# to the given Entity, belong to the given Class,
# have labels in the given Language and the given Country is among the CountriesProperty values
GetIndividualsFullQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE {?subject a ?CLASS. ?subject ?RELATION ?PARENT. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG  && regex(str(?label), ?SEARCHTERM, "i"))}

# Query that extracts all individual entities that belong to the give Class,
#  have Labels in the given language and the given Country is among the CountriesProperty values
GetIndividualsQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE { ?subject a ?CLASS. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG  && regex(str(?label), ?SEARCHTERM, "i"))}



#GetRootElementsQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE { ?subject a ?CLASS. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. OPTIONAL {?subject ?RELATION ?parent} OPTIONAL{ ?parent a ?ptype}. FILTER( !bound( ?parent )  || ?ptype != ?CLASS ). FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG)}
GetRootElementsQuery=PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX hayscommon: <http://www.hays.co.uk/ontology#> SELECT DISTINCT ?subject ?label WHERE { ?subject a ?CLASS. ?subject hayscommon:countries ?o. ?subject rdfs:label ?label. FILTER (regex(str(?o), ?COUNTRY) && lang(?label) = ?LANG)}

Ucm_Region=UK

SOLAR_USERS=weblogic,gaurav,testuser,toramiy

SOLAR_DOCTYPES=PromotionalContent,Consultant,ColombiaJobs,CRReport,Initiative,Highlights,Video,ResultCenter,Presentation,AnnualReport,FinancialCalendar,News,General