<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
HaysMicroSites service
</title>
</head>
<body>

<@table HaysMicroSites_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>HAYS_MICROSITE_APPLY_FORM</td>
	<td>DocService
		33
		microsite_jobapply_form
		null
		null<br>
		null</td>
	<td>3:getLocaleDetails:SystemDatabase,LOCALE_DETAILS,QGetLocaleDetails::null</td>
</tr>
<tr>
	<td>HAYS_MICROSITE_APPLY</td>
	<td>DocService
		33
		microsite_jobapply_form
		null
		null<br>
		null</td>
	<td>3:getLocaleDetails:SystemDatabase,LOCALE_DETAILS,QGetLocaleDetails::null
		3:delegateEmailAction:::null</td>
</tr>
<tr>
	<td>HAYS_MICROSITE_FORMS</td>
	<td>DocService
		33
		null
		null
		null<br>
		null</td>
	<td>3:micrositeEmailForms:::null</td>
</tr>
<tr>
	<td>GET_MSITE_PROP_PAGE</td>
	<td>DocService
		33
		HAYS_MICROSITE_PROP_FORM
		null
		null<br>
		null</td>
	<td></td>
</tr>
</table>
<@end@>
</body></html>