<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
HaysCopyWebsite staticResTable
</title>
</head>
<body>

<@table HaysCopyWebsite_Handler@>
<table border=1><caption><strong>

<tr>
<td>serviceName</td><td>handler</td><td>searchOrder</td>
</tr>
<tr>
<td>DocService</td><td>hays.com.copywebsite.HaysCopyWebsiteFormAction</td><td>100</td>
</tr>
<tr>
<td>DocService</td><td>hays.com.copywebsite.HaysCopyWebsiteUtility</td><td>100</td>
</tr>
<tr>
<td>DocService</td><td>hays.com.copywebsite.NewItemServiceHandler</td><td>100</td>
</tr>
 <tr>
<td>DocService</td><td>hays.com.copywebsite.GetWebsiteContents</td><td>100</td>
</tr>

</table>

<@end@>
</body></html>