<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
HaysTranslationComponent staticResTable
</title>
</head>
<body>

<@table HaysTranslationComponent_Idoc@>
<table border=1><caption><strong>

<tr>
<td>name</td><td>class</td><td>loadOrder</td>
</tr>

<tr>
<td>HaysTranslationIdoc</td><td>hays.custom.HaysTranslationIdocExtension</td><td>10</td>
</tr>
<tr>
<td>HaysUserLocaleIdoc</td><td>hays.custom.multilingual.UserLocaleIdocExtension</td><td>10</td>
</tr>
</table>

<@end@>
</body></html>