<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
WebUpload_Integration service
</title>
</head>
<body>

<@table WebUpload_Integration_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>HAYS_GET_OFFICE_LOCATIONS</td>
	<td>Service
		35
		null
		null
		null<br>
		null</td>
	<td>3:getOfficeLocations:SqlServer,HAYS_OFFICE_LOCATIONS,QGetOfficeLocations::null</td>
</tr>
</table>
<@end@>
</body></html>