<TABLE cellSpacing=0 cellPadding=0 width=600 align=center bgColor=#ffffff 
border=0>
  <TBODY>
  <TR>
    <TD>
      <TABLE height=70 cellSpacing=0 cellPadding=0 width=600 border=0>
        <TBODY>
         <TR>
          <TD vAlign=top width=30 height=20>&nbsp;</TD>
	  </TR>    
         <TR>
          <TD vAlign=top width=30>&nbsp;</TD>
          <TD vAlign=top>
            <TABLE style="WIDTH: 566px" cellSpacing=0 cellPadding=0 border=0>
              <TBODY>
              <TR>
                <$siteLabel="",websiteURL=""$>	
				<$executeService("SS_GET_ALL_SITE_DOMAINS")$>
				<$loop DomainMap$>			
					<$if strEqualsIgnoreCase(SITEID,DomainMap.ssSiteId)$>				
						<$if DomainMap.ssIsDefault == 1 or strEqualsIgnoreCase(DomainMap.ssSiteId,"uk") $>
							<$siteLabel=DomainMap.ssKey$>
							<$websiteURL=DomainMap.ssKey$>
						<$endif$>					
					<$endif$>
				<$endloop$>
				<$siteLabel=strReplace(siteLabel,"www.","")$>
				<$siteLabel=strReplace(siteLabel,"testsg.","")$>
				<$websiteURL="http://"&websiteURL$> 
                <!-- Release 7 [Home page logo]-->
				<$inThisConfig=#env.HAYS_RESPONSE_LOGO_HOME$>
				<$checkThisValue=SITEID$>
				<$include checkFlagValue$>
				<$if checkFlag==1$>
				<!-- end -->		
					<TD vAlign=top width=405 height=81 rowSpan=2><img src="http://www.hays.com<$ssWeblayoutUrl('IMG_LOGO_HAYSRESPONSE')$>" alt="Hays logo" width="183" height="50"/>
					</TD>				
				<$else$>
					<TD vAlign=top width=405 height=81 rowSpan=2><img src="http://www9.hays.com/eshots/LOGOS/elogoWORLDWIDExmas.gif" alt="Hays logo" width="300" height="81"/>
					</TD>
				<$endif$>
              </TR>
              <TR>
                <TD vAlign=top width="auto" height=0>
		   <strong><font size="3" face="Arial" color="#009FDA"><a href="<$websiteURL$>" style="text-decoration:none"><$siteLabel$></a></font></strong>
		  </TD>
              </TR>
              </TBODY>
              </TABLE>
            </TD>
          </TR>
         </TBODY>
       </TABLE>
     </TD>
    </TR>
  <TR>
    <TD>
      <TABLE cellSpacing=0 cellPadding=30 width=600 align=center bgColor=#ffffff 
      border=0>
        <TBODY>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
              <TBODY>
               <TR>
                <TD vAlign=top colSpan=2>
                  <TABLE style="WIDTH: 568px" cellSpacing=0 cellPadding=0 border=0>
                    <TBODY>
					<$if strIndexOf(siteLabel,"hays.nl") >=0 AND strIndexOf(siteLabel,"hays.nl/en") <0$>
					<tr>
						<td><font face="Arial" size="6" color="#002776"><$lc("wwRegisterYourVacancyTitle")$></font></td>
						</tr>
						<tr>
						<td><font face="Arial" size="6" color="#009FDA"><$lc("wwRegisterYourVacancySubTitle")$></font></td>
					</tr>
					<$elseif strIndexOf(siteLabel,"hays-response.nl") >=0$>
					<tr>
						<td><font face="Arial" size="6" color="#002776"><$lc("wwRegisterYourVacancyTitle")$></font></td>
						</tr>
						<tr>
						<td><font face="Arial" size="6" color="#739600"><$lc("wwRegisterYourVacancySubTitle")$></font></td>
					</tr>
					<$endif$>
                    <TR>
                     <TD>
		       <p style="FONT-SIZE: 12px; FONT-FAMILY: Arial;">
			  <$lc("wwRegisterYourVacancyText1")$><br/><br/>
  
              <$lc("wwRegisterYourVacancyText2")$><br/><br/> 
			
			 <$email_content$>
			
			<img src="http://www9.hays.com/eshots/EMAILMAKER/H_Corporate.jpg" alt="H" width="165" height="166" align="right" />
			<br/><br/><br/><br/>
			<$lc("wwHaysMailSignatureText1")$><br/>
			<$lc("wwHaysMailSignatureText2APAC",strLower(isoCountryCode))$>
			</p>
			<$if strEquals(siteLabel,"hays.cn") OR strEquals(siteLabel,"hays.co.jp")$>
			<p style="FONT-SIZE: 7; FONT-FAMILY: Arial"><$lc("wwHaysMailSystemGeneratedTextRVY")$></p>
			<$else$>
			<p style="FONT-SIZE: 7; FONT-FAMILY: Arial"><$lc("wwHaysMailSystemGeneratedText")$></p>
			<$endif$>
			<p style="FONT-SIZE: 7; FONT-FAMILY: Arial"><$lc("wwRegisterYourVacancyReferencenumber")$></p><br/><br/>			      
			</TD>
			</TD></TR>
			<TR>
			<TD COLSPAN="2">
			<$lc("wwHaysMailFooterMessage","@")$>
			</TD>
			</TR>
			</TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
		    </TD></TR></TBODY></TABLE>
				
			

                     