@charset "utf-8";
/* CSS Document */


#top,
ul#nav,
#banner-home,
#banner-landing-signpost,
#banner-landing-contact,
.signpost-mod-wrap,
#right-landing-wrap,
#left-col,
#module-col,
#footer ul {display: none}


body {
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#breadcrumb {
	display: block;
	border-bottom: 1px dotted #000;
	font-size: .7em;
	padding: 0 0 10px 0;
	margin: 0 0 30px 150px;
	width: 460px;
}
#page-wrapper {
	float: none;
	display: block;
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#content-wrap {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.left-col-grad {
	background: none;
}
#footer {
	float: none;
	display: block;
	background: none;
	padding: 0;
	margin: 0 0 0 150px;
	width: 460px;
}
#content {
	float: none;
	display: block;
	border-bottom: 1px dotted #000;
	padding: 0 0 30px 0;
	margin: 0 0 10px 150px;
	width: 460px;
}

#content-wrap #content h1,
#content-wrap #content h2,
#content-wrap #content h3,
#content-wrap #content h4,
#content-wrap #content h5{
	color: #000 !important;
}
#content-wrap #content p,
#content-wrap #content {
	color: #000 !important;
}
#content-wrap #content a {
	color: #000 !important;
	text-decoration: underline !important;
}


#content-wrap #content ul.link-list {
	list-style: circle;
	margin: 0 0 0 20px;
	padding: 0;
}
#content-wrap #content ul.link-list li a {
	background: none;
	padding: 0;
}

#content-wrap #content ul.link-list li.pdf-link a {
	background: none;
	padding: 0;
}
#content-wrap #content .link a {
	background: none;
	padding: 0;
}

/*
ul.anchour-links li {
	background: url(../images/bullet-chev-down.gif) left 6px no-repeat;
	color: #009FDA;
	padding: 0 0 0 13px;
}
*/

