@charset "UTF-8";
	.left {
            float: left
        }
        .ui-dialog-buttonpane button,
        form input.button,
        form button.button,
        a.button,
        .ui-button,
        .search_widget_specialism .search_button_inner .button {
            color: #fff!important;
            cursor: pointer;
            font-weight: bold;
            background: #45b2ee left -800px url('img/sprites/bg.png') repeat-x;
            width: auto;
            padding: 4px 7px;
            text-decoration: none!important;
            text-shadow: -1px -1px 1px #2478a6;
            width: auto;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            display: inline-block;
            overflow: visible;
            border: 1px solid #3ea0d6
        }
        .ui-dialog-buttonpane .button_1,
        .button_1 {
            cursor: pointer;
            color: #009fda!important;
            border: 1px solid #3ea0d6;
            background: left -1000px url('img/sprites/bg.png') repeat-x;
            padding: 4px 7px;
            text-decoration: none!important;
            display: inline-block;
            text-shadow: none
        }
        a.button,
        a.button_1 {
            padding: 7px 9px
        }
        .button_1 span {
            padding-right: 10px;
            background: right -172px url('img/sprites/icons.png') no-repeat;
            display: inline-block
        }
        .button_1:hover,
        .button_1:focus,
        .button_1:active {
            border-color: #082d71;
            color: #082d71!important
        }
        .button:hover,
        .button:focus,
        .button:active {
            background-position: left -900px;
            text-decoration: none
        }
        .ie-button-fixed {
            *float: left;
            *width: 165px
        }
        .ie-button-sort {
            *float: left;
            *width: 80px
        }
        #pl_left_side a.button_1 {
            max-width: 140px
        }
        .ui-dialog-buttonpane button,
        .ui-dialog-buttonpane button.button_1 {
            vertical-align: top
        }
		 #dialog,
        #dialog_1,
        #dialog_2,
        #dialog_3,
        #accountOpen,
        #dialog_save_searches {
            display: none
        }
        #dialog .loader {
            margin: 17% 0 0 42%
        }
        .ui-dialog input[type=text] {
            width: 180px
        }
        .ui-dialog input:focus[type=text] {
            border: 2px solid #002776;
            margin: 0;
            outline: 0
        }
        .ui-dialog legend {
            display: none
        }
        .ui-dialog label {
            margin: 0;
            float: left;
            margin-top: -1px
        }
        .ui-dialog li {
            padding: 3px 0
        }
        .ui-dialog .google {
            list-style: none;
            padding: 0;
            margin: 0 0 20px
        }
        .ui-dialog .google li {
            padding: 0;
            overflow: hidden;
            margin: 0 0 3px
        }
        .ui-dialog .google li label {
            display: block;
            float: none;
            padding-left: 20px
        }
        .ui-dialog .label_col {
            text-transform: capitalize;
            width: 80px;
            float: left;
            margin: 0 10px 0 3px
        }
        .ui-dialog .select_row>div {
            padding-top: 3px;
            overflow: hidden
        }
        .ui-dialog {
            position: absolute;
            overflow: hidden;
            padding: 10px 14px 14px;
            border: 1px solid #dedede;
            background: #fff;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
	    z-index: 1002	
        }
        .ui-dialog-buttonpane {
            text-align: right
        }
        .ui-dialog-buttonpane button {
            margin: 0 5px;
            max-width: 100px;
            max-width: 84px\9;
            *max-width: 100px
        }
        .ui-dialog-buttonpane div.ie7 {
            overflow: auto\9
        }
        .ui-dialog .ui-dialog-titlebar-close {
            display: none
        }
        .ui-widget-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2000px;
            background: #fff;
            opacity: .7;
            filter: Alpha(Opacity=70)
        }
        .ui-dialog .ui-widget-header {
            font-size: 16px;
            font-weight: bold;
            color: #002776;
            margin-bottom: 10px
        }
		.ui-dialog-buttonpane button,
    form input.button,
    form button.button,
    a.button,
    .ui-button,
    .search_widget_specialism .search_button_inner .button {
        color: #fff!important;
        cursor: pointer;
        font-weight: bold;
        background: #45b2ee left -800px url('img/sprites/bg.png') repeat-x;
        width: auto;
        padding: 4px 7px;
        text-decoration: none!important;
        text-shadow: -1px -1px 1px #2478a6;
        width: auto;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        display: inline-block;
        overflow: visible;
        border: 1px solid #3ea0d6
    }
    .ui-dialog-buttonpane .button_1,
    .button_1 {
        cursor: pointer;
        color: #009fda!important;
        border: 1px solid #3ea0d6;
        background: left -1000px url('img/sprites/bg.png') repeat-x;
        padding: 4px 7px;
        text-decoration: none!important;
        display: inline-block;
        text-shadow: none
    }
    a.button,
    a.button_1 {
        padding: 7px 9px
    }
    .button_1 span {
        padding-right: 10px;
        background: right -172px url('img/sprites/icons.png') no-repeat;
        display: inline-block
    }
    .button_1:hover,
    .button_1:focus,
    .button_1:active {
        border-color: #082d71;
        color: #082d71!important
    }
    .button:hover,
    .button:focus,
    .button:active {
        background-position: left -900px;
        text-decoration: none
    }
    .ie-button-fixed {
        *float: left;
        *width: 165px
    }
    .ie-button-sort {
        *float: left;
        *width: 80px
    }
    #pl_left_side a.button_1 {
        max-width: 140px
    }
    .ui-dialog-buttonpane button,
    .ui-dialog-buttonpane button.button_1 {
        vertical-align: top
    }
	.ui-dialog .label_col {
        text-transform: capitalize;
        width: 80px;
        float: left;
        margin: 0 10px 0 3px
    }
    .ui-dialog .select_row>div {
        padding-top: 3px;
        overflow: hidden
    }

    .ui-dialog-buttonpane {
        text-align: right
    }
    .ui-dialog-buttonpane button {
        margin: 0 5px;
        max-width: 100px;
        max-width: 84px\9;
        *max-width: 100px
    }
    .ui-dialog-buttonpane div.ie7 {
        overflow: auto\9
    }
    .ui-dialog .ui-dialog-titlebar-close {
        display: none
    }
    
    .ui-dialog .ui-widget-header {
        font-size: 16px;
        font-weight: bold;
        color: #002776;
        margin-bottom: 10px
    }