<TABLE cellSpacing=0 cellPadding=0 width=600 align=center bgColor=#ffffff 
border=0>
  <TBODY>
  <TR>
    <TD>
      <TABLE height=70 cellSpacing=0 cellPadding=0 width=600 border=0>
        <TBODY>
         <TR>
          <TD vAlign=top width=30 height=20>&nbsp;</TD>
	  </TR>    
         <TR>
          <TD vAlign=top width=30>&nbsp;</TD>
          <TD vAlign=top>
            <TABLE style="WIDTH: 566px" cellSpacing=0 cellPadding=0 border=0>
              <TBODY>
              <TR>
                <TD vAlign=top width=405 height=11 rowSpan=2>
		 <p><font size=3 color=black face="Times New Roman"><span style='font-size:
    12.0pt'><img border=0 width=317 height=40 id="_x0000_i1025"
    src="http://hays.com/cs/groups/hays_common/@haysworldwide/@content/documents/webassets/hays_778111.gif"><br>
    </span></font><strong><b><font size=1 color=black face=Arial><span
    style='font-size:7.5pt;font-family:Arial;color:windowtext'>&nbsp; </span></font></b></strong><strong><b><font
    size=1 color="#002776" face=Arial><span style='font-size:7.5pt;font-family:
    Arial;color:#002776'>GET IN TOUCH</span></font></b></strong><b><font
    size=1 face=Arial><span style='font-size:7.5pt;font-family:Arial;
    font-weight:bold'><img border=0 width=13 height=10 id="_x0000_i1026"
    src="http://www9.hays.com/eshots/EMAILMAKER/arrow.gif" alt=arrow></span></font><strong><b><font
    face="Times New Roman"> </font></b></strong></b><strong><b><font size=6
    color="#002776" face=Arial><span style='font-size:24.0pt;font-family:Arial;
    color:#002776'><o:p></o:p></span></font></b></strong></p>                </TD>
              </TR>
              </TBODY>
              </TABLE>
            </TD>
          </TR>
         </TBODY>
       </TABLE>
     </TD>
    </TR>
  <TR>
    <TD>
      <TABLE cellSpacing=0 cellPadding=30 width=600 align=center bgColor=#ffffff 
      border=0>
        <TBODY>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
              <TBODY>
               <TR>
                <TD vAlign=top colSpan=2>
                  <TABLE style="WIDTH: 568px" cellSpacing=0 cellPadding=0 border=0>
                    <TBODY>
                    <TR>
                     <TD>
			<p><font size=6 color="#002776" face=Arial><span style='font-size:24.0pt;font-family:Arial;color:#002776;font-weight:bold'><$lc("wwGITHeaderText1")$><br></span></font><font size=6 color="#00aeef" face=Arial><span
    style='font-size:24.0pt;font-family:Arial;color:#00AEEF;font-weight:bold' ><$lc("wwGITHeaderText2")$></span></font></p>
		       <p style="FONT-SIZE: 12px; FONT-FAMILY: Arial;">
 
              <$lc("wwRegisterYourVacancyText2")$><br/><br/> 
			<$lc("wwRegisterYourVacancyContactName")$>: <$sanitizeHtml(user_name)$><br/><br/>
			<$lc("wwRegisterYourVacancyContactLocation")$>: <$sanitizeHtml(your_location)$><br/><br/>
			<$lc("wwRegisterYourVacancyContactEmail")$>: <$sanitizeHtml(EmailID)$><br/><br/>
			<$lc("wwRegisterYourVacancyContactPhone")$>: <$sanitizeHtml(your_phone)$><br/><br/>
			<$lc("wwRegisterYourVacancyFurtherInformation")$>: <$sanitizeHtml(your_message)$><br/><br/>
			<br/><br/>
			<$lc("wwHaysMailSignatureText1")$><br/><br/><br/>
			<strong><$lc("wwHTSSignatureText2")$></strong>
			<img src="http://www9.hays.com/eshots/LOGOS/hays_logo.bmp" alt="H" width="165" height="166" align="right" />
			</p>
			
			<p style="FONT-SIZE: 10; FONT-FAMILY: Arial"><$lc("wwHaysMailSystemGeneratedText")$></p><br/><br/>			      
			</TD>
			</TD></TR>
			<TR>
			<TD COLSPAN="2">
			<$lc("wwHaysMailFooterMessage","@")$>
			</TD>
			</TR>
			</TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
		    </TD></TR></TBODY></TABLE>
				
			

                     