<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<$msgPageTitle=lc("wwContentServerMessage")$>
<$defaultPageTitle=msgPageTitle$>
<$include std_html_head_declarations$>
</head>
<$include body_def$>
<$include std_page_begin$>
<$include std_header$>
<!--Message--->
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="465" align="center">
<table border = "0">
<caption><h3><u><$msgPageTitle$></u></h3></caption>
<tr>
<td width=100%><span class=title>
<b>Successfully Mailed To:</b>&nbsp;&nbsp;&nbsp;
<$Email$>
</span></td>
</tr>
</table>
</td>
</tr>
</table>
<$include std_page_end$>
</body>
</html>