<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
Hays_SiteMap service
</title>
</head>
<body>

<@table Hays_SiteMap_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>

<tr>
	<td>GET_GOOGLE_SITEMAP</td>
	<td>Service
		33
		null
		null
		null<br>
		null</td>
	<td>3:getGoogleSiteMap:::null</td>
</tr>
<tr>
	<td>GET_DEAFAULT_SITEADDRESS</td>
	<td>Service
		33
		null
		null
		null<br>
		null</td>
	<td>5:QgetDefaultSiteAddress:HAYS_DEFAULT_SITEADDRESS::null</td>
</tr>
</table>
<@end@>
</body></html>